<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287702475645-1v7hmd9vepm9p6gs7h30nuq8vhgti2e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287702475645-1v7hmd9vepm9p6gs7h30nuq8vhgti2e8</string>
	<key>API_KEY</key>
	<string>AIzaSyD2QkHYyq6RVU411n7S9VciHxYHv6tvLw0</string>
	<key>GCM_SENDER_ID</key>
	<string>287702475645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zamora.zamorittachat</string>
	<key>PROJECT_ID</key>
	<string>zamorittachat-aa27d</string>
	<key>STORAGE_BUCKET</key>
	<string>zamorittachat-aa27d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287702475645:ios:e1a20897c40e4f3f5d6214</string>
</dict>
</plist>